{{#map mapData}}
	{{#if isRadio}}
		<div class = "mapCell radioGroup{{{startTeamClass}}}">
			{{#each teams}}
			<span  class="{{{team}}}-button"><input onclick="onRadioClick( {{{teamNum}}}, {{{radioIndex}}})" type="radio" name="{{{groupName}}}" id="button_{{{teamNum}}}_{{{radioIndex}}}" value="{{{teamNum}}}">{{{team}}}</span><br>
			{{/each}}
		</div>
	{{else}}
		<div class = "mapCell {{{startTeamClass}}}"></div>
	{{/if}}
{{/map}}
