{{#map mapData}}
	{{#if isRadio}}
		<div class = "mapCell radioGroup{{{startTeamClass}}}">
			{{#each teams}}
			<input type="radio" name="{{{groupName}}}" value="{{{team}}}" class="{{{team}}}-button">{{{team}}}<br>
			{{/each}}
		</div>
	{{else}}
		<div class = "mapCell {{{startTeamClass}}}"></div>
	{{/if}}
{{/map}}
